html {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

body {
    background-color: rgb(221, 240, 240);
    padding: 20px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/backgroundImage.png");
    background-size: cover;
}